/* work sens font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

}
/* header styles */
header {
    background-color:  rgba(255, 144, 14, 0.10);
   padding: 50px 240px;
}
.nav-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav >ul {
    display: flex;
    
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500px;
    
}
nav a{
    text-decoration: none;
    color:  #424242;
}
/* banner style */
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}

.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-detels{
    color:  #727272;
}
.but-pramary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    
}
.banner-section img {
    width: 100%;
    margin-top: 20px;
}
/* main section style */

main{
    max-width: 1440px;
    margin: 70px auto;
}
.tems {
    display: flex;
    align-items: center;
    gap: 70px;
    
}
.tems-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.tems-title {
    font-size: 2.8rem;
}
.quick {
    color: #727272;
    font-weight: 500;
}
.of-our {
    color: #131313;
    font-weight: 700;
}
.Features {
    color: #FF900E;
    font-weight: 700;
}
.tems-details {
    color:  #727272;
    margin-top: 24px;
}
/* facts style */
.facts-section {
    margin-top: 100px;
}
.facts-section .facts-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.facts-section .facts-details {
    color: #727272;
    margin-top: 24px;
    margin-bottom: 100px;
}

.facts-card {
    display: flex;
    justify-content: space-around;
}
.facts-card .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 50px;

}
.facts-card .card-stats {
    color:  #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    

}
.facts-card .card-title {
    color:#727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    

}
/* sponspors style */
.sponspors-section{
    text-align: center;
    margin-top: 100px;
}
.sponspors-title {
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.sponspors-details {
    color:  #727272;
    margin-top: 24px;
}
.sponspors-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.sponspors-img img {
    width: 160px;
}

/* responsive meadia queries */

/* mobole device */
@media screen and (max-width: 576px) {
    header,
    .facts-section
     {
        padding: 20px;
    }
    nav,
    .tems,
    .facts-card,
    .sponspors-img
     {
        flex-direction: column;
    
    }
    .tems-img {
        grid-template-columns: 1fr;
    } 
    .facts-card{
        gap: 10px;
    }
    
    
   
}
/* meidum device */
@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 20px;
    }
    nav,
    .tems  {
        flex-direction: column;
    }
    
}